/* Layout */
body {
    font: $main-font-size $main-font;
    position: relative;
    display: block;
    min-height: 100vh;
    padding-bottom: 283px;
    background-color: $main-color;

    @media only screen and (min-width: 769px) {
        padding-bottom: 175px;
    }
}

#header-wrapper {
    padding: 5px 10px;
    overflow: auto;

    @media only screen and (min-width: 769px) {
        max-width: 1200px;
        margin: 0 auto;
    }
}

#header-right {
    width: 45.3125%;
    max-width: 145px;
    float: right;
    overflow: auto;

    @media only screen and (min-width: 481px) and (max-width: 768px) {
        width: 38.5%;
        max-width: 185px;
    }

    @media only screen and (min-width: 769px) {
        width: 60%;
        max-width: 750px;
    }
}

.icon-bar {
    transition: all 0.5s ease-out;
}

.open {
    .icon-bar:nth-child(1) {
        transform: rotate(40deg) translate(5px, 7px);
    }
    .icon-bar:nth-child(2) {
        opacity: 0;
    }
    .icon-bar:nth-child(3) {
        transform: rotate(-40deg) translate(5px, -9px);
    }
}

#current-page {
    background-color: $selected-nav-icon-color;

    a {
        text-decoration: underline;
    }
}

main {
    padding-top: 60px;
    padding-bottom: 75px;
}

#contact-form, #login-form, #site {
    @include section;
    padding-top: 20px;

    @media only screen and (min-width: 481px) and (max-width: 768px) {
        max-width: 460px;
        margin: 0 auto;
    }

    @media only screen and (min-width: 769px) {
        max-width: 600px;
        margin: 0 auto;
    }
}

#login-form {
    p {
        margin-bottom: 10px;
    }
}

.error, #confirm {
    display: none;
}

textarea {
    height: 250px;

    @media only screen and (min-width: 769px) {
        height: 200px;
    }
}

#top-half {
    background-color: white;
}

#welcome {
    @include section;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;

    p {
        margin-bottom: 5px;
    }

    @media only screen and (min-width: 769px) {
        max-width: 600px;
        margin: 0 auto;
    }
}

#bottom-half {
    background-color: $main-color; 
}

#featured, #portfolio {
    @include section;
    padding: 5px 10px;
    padding-top: 20px;
    overflow: auto;

    @media only screen and (min-width: 769px) {
        padding: 5px 0;
        max-width: 1220px;
        margin: 0 auto;
    }
}

.find-out-more {
    font-weight: bold;
}

h1 {
    font-size: $h1-font-size;
    margin: 10px 0;
}

#h1-cv {
    font-size: $h1-font-size;
}

#h1-login, #h1-home {
    margin-bottom: 5px;
}

h2 {
    font-size: $h1-font-size;
}

@media only screen and (min-width: 769px) {
    #h1-home, #h2-home {
        text-align: center;
    }
}

.cv-headings {
    font-size: $h3-font-size;

    @media only screen and (min-width: 769px) {
        text-align: center;
    }
}

p {
    line-height: 1.5em;
}

#about {
    @include section;
    max-width: 460px;
    margin: 0 auto;

    p {
        padding: 10px 0;
    }
}

#admin, #admin-output {
    @include section;
    max-width: 460px;
    margin: 0 auto;
    padding-top: 20px;

    @media only screen and (min-width: 769px) {
        max-width: 600px;
    }
}

#cv {
    @include section;
    margin: 0 auto;
    padding-top: 20px;
    overflow: auto;

    @media only screen and (min-width: 769px) {
        max-width: 1200px;
    }
}

@media only screen and (min-width: 769px) {
    #education {
        width: 45%;
        max-width: 500px;
        float: left;
    }

    #experience {
        width: 45%;
        max-width: 500px;
        float: right;
    }
}

#admin-form {
    margin-top: 10px;
}

#admin-site-inputs {
    display: none;
}

#logout {
    width: 65px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

img {
    width: 100%;
    height: auto;
}

.featured, .site {
    padding: 10px 0;

    @media only screen and (min-width: 769px) {
        width: 31.6%;
        float: left;
        margin: 0 0.8%;
    }
}

#footer-wrapper {
    padding: 20px 10px;

    @media only screen and (min-width: 769px) {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
    }
}

#contact {
    margin-bottom: 10px;

    @media only screen and (min-width: 769px) {
        width: 33.3%;
        order: 1;
    }
}

#contact-inner-wrap {

    @media only screen and (min-width: 769px) {
        width: 75px;
        float: left;
    }
}

#footer-nav {
    margin-bottom: 10px;
     
    @media only screen and (min-width: 769px) {
        width: 33.3%;
        order: 2;
        margin-top: 10px;
        margin-bottom: 0;
    }

    p {
        padding: 2.5px 0;
    }
}

#footer-nav-inner-wrap {

    @media only screen and (min-width: 769px) {
        width: 70px;
        margin: 0 auto;
    }
}

#copyright-wrapper {
    margin: 10px 0;

    @media only screen and (min-width: 769px) {
        width: 33.3%;
        order: 3;
    }
}

#copyright {

    @media only screen and (min-width: 769px) {
        width: 128px;
        float: right;
    }
}

#email {
    margin: 10px 0;
}

#github {
    margin: 10px 0;
}

.row {
    overflow: auto;
    margin-bottom: 20px;
}

.left {
    width: 40%;
    float: left;
}

.right {
    width: 60%;
    float: right;
}

.education-job, .school-employer, .edit, .delete {
    text-align: right;
}

.site-name {
    font-size: $h3-font-size;
    margin-bottom: 10px;

    @media only screen and (min-width: 769px) {
        text-align: center;
    }
}

#portfolio-link {
    margin: 0 10px;

    @media only screen and (min-width: 481px) and (max-width: 768px) {
        max-width: 748px;
    }

    @media only screen and (min-width: 769px) {
        max-width: 1200px;
        text-align: center;
        margin: 0 auto;
    }
}

#find-out-more-link {
    @media only screen and (min-width: 769px) {
        text-align: center;
    }
}